@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-montserrat);
}

body {
  font-family: var(--font-montserrat, 'Montserrat', Arial, sans-serif);
}

.font-poppins {
  font-family: var(--font-poppins, 'Poppins', sans-serif);
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
